/******************************
 * Time : 2014-07-21
 ******************************
 * Author : hanyanhong
 ****************************** */


.ls-title{
  margin-bottom: 10px;
}

.ls-title .btn{
  margin-top: 20px;
}

.ls-pl0{
  padding-left: 0;
}




/* reset */

.table{
  margin-bottom: 0;
}


.form-horizontal .radio{
  padding-top: 0;
}

.radio label{
  width: 100%;
}

.radio input[type=radio]{
  top: 7px;
}

/* reset end */