/*****************************
 * Time : 2014-07-21
 ******************************
 * Author : huangxiaowen  and  wangrubing
 ****************************** */
body, html {
  height: 100%;
  width: 100%;
  /*overflow: auto;*/
}
/* 技能挑战 */
.challenge-time{
  position: fixed;
  right: 10px;
  top: 80%;
  width: 120px;
  height: 50px;
  background-color: #ff6d4a;
  border-radius: 6px;
  font: 30px/50px microsoft yahei;
  color: white;
  text-align: center;
}

.pagination {
  float: right;
}

.text-center{
  text-align: center;
}

/* 技能挑战 end */

/* 技能练习题 */
/*.glyphicon{
  margin-left: 10px;
}*/
/*.glyphicon-ok{
  color: green;
}*/
/*.glyphicon-remove{
  color: red;
}*/
/* 技能练习题 end */

/*********** index ************/
/* product */
.product {
   /* width: 1290px;   shihua */
  width: 100%;
  overflow: hidden; /* shihua */
}

.product-list {
  padding: 20px 0;
  width: 1640px;
  height: 550px;    /* shihua */
}
.product-list .list{
  float: left;
  width: 490px;
  padding: 0;
  list-style: none;
}
.product-list li{
  float: left;
  margin: 0 5px 10px;
}
.product-list a {
  display: table-cell;   /*wrb*/
  /*padding: 10px;*/
  color: #fff;
  vertical-align: middle;  /*wrb*/
  text-align: center;
}
.product-list .icons {
  /*padding-top: 30px;   wrb*/
  text-align: center;
}
.product-list .bg-info {
  background: rgb(82, 56, 49);
}
.product-list .huge {   /*wrb*/
  width: 310px;
  height: 310px;
  border: solid #fff 1px;
  overflow: hidden;
  position: relative;
}
.product-list .huge img { /*wrb*/
  max-width: 200px;
  max-height: 200px;
}
.product-list .big {
  width: 310px;
  height: 150px;
  border: solid #fff 1px;  /* shihua */
  overflow: hidden;     /* shihua */
  position: relative;   /* shihua */
}
.product-list .big img { /*wrb*/
  max-width: 150px;
  max-height: 80px;
}
.product-list .big:hover{        /* shihua */
  -moz-box-shadow:0px 0px 3px  10px #fff;
  -webkit-box-shadow:0px 0px 10px  3px #FFF;
  box-shadow:0px 0px 10px  3px #fff;
  border:solid #fff 1px;
}
.product-list .small {
  width: 150px;
  height: 150px;
  border: solid #fff 1px;  /* shihua */
  overflow: hidden;     /* shihua */
  position: relative;   /* shihua */
}
.product-list .small img { /*wrb*/
  max-width: 90px;
  max-height: 90px;
}
.product-list .small:hover{      /* shihua */
  -moz-box-shadow:0px 0px 3px  10px #fff;
  -webkit-box-shadow:0px 0px 10px  3px #FFF;
  box-shadow:0px 0px 10px  3px #fff; border:solid #fff 1px;
}
/* product end */

/* by shihua for modal and iscroll */
#wrapper {
  position: relative; /* wrb  */
  height: 630px; /* wrb  */
  padding-left: 5px;
}
#thelist {
  list-style:none;
  float:left;
  padding:0;
  margin:0;
}
#thelist>li{
  list-style:none;
  float:left;
  padding:0;
  margin:0;
}
.modal div{
  font-size: 14px;
  line-height: 30px;
}

.slider{
  display: table;  /*wrb*/
  padding: 10% 20%;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  vertical-align: middle;   /*wrb*/
}
.hid-word {
position: absolute;
right: 0;
height: 100%;
background-color: rgb(82, 56, 49);
color: #fff;
display: block;
float: right;
text-align: right;
z-index: 1;
width: 150px;
_right: -1px;
}
.hide-word-huge { /*wrb */
  bottom: 0;
  width: 100%;
  height: 150px;
}
/*btn-choose-modal  wrb*/
.btn-choose-modal {
  margin: 0 auto;
  list-style-type: none;
}
.btn-choose-modal li {
  float: left;
  text-align: center;
  opacity: 0.5;
}
.btn-choose-modal li:hover,
.btn-choose-modal li a:hover {
  opacity: 1;
  color: #fff;
}
.btn-box-huge {
  height: 80px;
  width: 270px;
  padding:60px 0;
}
.btn-box-huge li {
  height: 40px;
  width: 80px;
}
.btn-box-small {
  height: 140px;
  width: 90px;
  padding: 10px 0;
}
.btn-box-small li {
  height: 35px;
  width: 80px;
}
/*********** index end ************/

/*********** learn ************/
.wiki-content {
  position: relative;
  min-height: 400px;
  padding-right: 210px;
  font-family: 'Microsoft YaHei',sans-serif;
}
.wiki-content .wiki-edit,
.wiki-content .wiki-edit:hover {
  position: absolute;
  top: 10px;
  right: 210px;
  display: block;
  font-size: 24px;
  color: #2071a1;
}
.wiki-title {
  padding-bottom: 10px;
  border-bottom: 3px solid #eee;
  font-size: 36px;
  line-height: 45px;
  color: #2071a1;
}
.wiki-content h1 {
  margin: 45px 0 25px;
  padding-left: 10px;
  border-left: 3px solid #2071a1;
  font-size: 28px;
}
.wiki-content h1 a {
  margin-top: 24px;
  font-size: 14px;
}
.wiki-content h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px; /*wrb*/
  font-weight: bold; /*wrb*/
  color: #666; /*wrb*/
}
.wiki-content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.wiki-content h4 {
  font-size: 16px;
}
.wiki-content h5,.wiki-content h6 {
  font-size: 12px;
}
.wiki-content p {
  line-height: 1.8;
}
.wiki-content blockquote {
  border-width: 3px;
  border-color: #105984;
  background-color: #e9f0f4;
}
.wiki-content blockquote p {
  font-size: 12px;
}
.wiki-add {
  padding: 0 15px;
}
.wiki-form {
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: #dff0d8;
}
.wiki-form .wiki-content {
  min-height: 500px;
  margin-bottom: 15px;
  padding: 15px;
  background: #fff;
}
.wiki-catelog {
  background: #e9f0f4; /*wrb*/
}
.fix-nav {
  position: absolute;
  line-height: 22px;
  right: 0px;
  top: 0px;
  width: 196px;
  border: 1px solid #2071a1;
}
.wiki-catelog h4 {
  margin: 0;
  padding: 10px 0;
  background-color: #2071a1;
  color: #fff;
  text-align: center;
}
.wiki-catelog ul {
  margin: 0;
}
.wiki-catelog .nav >li >a {
  display: block;
  padding: 2px 10px;
  color: #666;
  background: #e9f0f4; /*wrb*/
  line-height: 22px; /*wrb*/
}
.wiki-catelog .nav >li >a:hover,
.wiki-catelog .nav >li >a:focus {
  border-right: 1px solid #ccc;
  background-color: #ddd;
  text-decoration: none;
}
.wiki-catelog .nav >.active >a,
.wiki-catelog .nav >.active:hover >a,
.wiki-catelog .nav >.active:focus >a {
  border-right: 2px solid #4cae4c;
  background-color: transparent;
  font-weight: bold;
  color: #4cae4c;
}
.wiki-catelog .nav .nav >li >a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 60%;
}
.wiki-list {
  margin-top: 30px;
  padding: 10px;
  background: #eee;
}
.wiki-list li {
  float: left;
  width: 33%;
}
.ls-menu .menu .nav:first {
  margin: 20px 0;
}
.nav .link-note {  /*wrb*/
  position: absolute;
  right: 10px;
  color: #2071a1;
  cursor: pointer;
}
.ls-content .cont {
  padding: 20px;
}
.ls-content {
  height: 100%;
  overflow: hidden;
}
.wrap .web-document {
  width: 100%;
  background-color: #e9f0f4;
}
.padding-set {
padding: 20px;
border: 1px solid #c2d4de;
background-color: #f5f5f5;
}
/*wrb*/
.modal-form {
  margin: 20px 0;
}
.note-icon {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.add-item {
  text-align: center;
  cursor: pointer;
  background-color: #f5f5f5;
}
.add-item:hover {
  background-color: #eee;
}
.jTip {

}
/*********** learn end ************/

/*********** share ************/
.mod{
  display: table;
  margin: 1px;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.mod:hover{ color: #fff;text-decoration: none;}
.mod .icons {
  padding-top: 20px;
  font-size: 45px;
  text-align: center;
}
.mod-name {
  display: table-cell;
  font-family:Microsoft Yahei;
  font-size: 28px;
  vertical-align: middle;
  margin: 0 auto;
}
.mod p {
  font-size: 12px;
  line-height: 18px;
}

/*以下是需求单表单页面*/
.demand-tab{
  height: 80px;
}

.add-other{
  margin-left: 0;
  padding-left: 0;
}
.add-other input{
  width: 170px;
  height: 26px;
}

/*周连波 添加*/
.task-header{background-color: #e9f0f4;padding:20px;}
.task-header .form-horizontal{padding-top:20px;}
.task-header .form-group{margin-bottom:10px;}
.task-image .media-heading{margin-bottom:15px;}
.task-history h4{border-bottom:1px solid #ccc; padding-bottom:6px;margin-bottom:6px;}
.task-history-content{padding:0 0 0 50px;margin-bottom:20px;color:#999;}
.task-changed-list{margin:15px;}
.project-log h3{border-bottom:1px solid #ccc;padding-bottom:10px;}
.project-log .media{margin-bottom:10px;padding-bottom:8px;border-bottom:1px solid #eee;}
.project-status{background:#f5f5f5;padding:5px;}


/**********wrb*********/
.web-content {
  overflow: hidden;
  min-height: 622px;
  border-left: 1px solid #c2d4de;
  background-color: #fff;
}
.web-content .cont {
  padding: 0 50px;
}

/*重置pre*/
.pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: none;
}
.tab-pane .form-horizontal {
  /*margin-top: 30px;*/
  padding: 30px 0;
  background-color: #e9f0f4;
}
.web-table th {
  background-color: #f7f7f7;
  color: #666;
}
.pagination {
  width: 310px;
  padding-top: 20px;
}
/*********** share end ************/

/*********** backstage-skill-list ************/
.table-backstage {
  border: 1px solid #ccc;
}
.table-backstage tr {
  height: 37px;
}
.table-backstage .handle {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 5px 5px 5px 5px;
  vertical-align: middle;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .9) inset;
  border: 1px solid #c2d5e1;
  background: #c2d5e1;
  padding: 3px 5px;
  margin: 0 3px;
}
/*.table-backstage .handle:hover {
  background: #2071a1;
}*/
.table-backstage .eye_open i {
  content: '\e105';
}
.skill-item-style {
  display: inline-block;
  padding: 2px 3px;
  min-width: 50px;
  text-align: center;
  background: #ff6d4a;
}
/*********** backstage-skill-list end ***********/

/*********** share-edit ***********/
.share-title {
  font-size: 36px;
}
.pre-edit {
  width: 100%;
  min-height: 200px;
  font-size: 13px;
}
.pre-link {
  width: 93%;
}

/*图片上传*/
.file-item {
  float: left;
  position: relative;
  margin: 20px 20px 20px 0;
  padding: 4px;
}
.file-item .info {
  position: absolute;
  left: 4px;
  bottom: 4px;
  right: 4px;
  height: 20px;
  line-height: 20px;
  text-indent: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  z-index: 10;
}
.file-item .error {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  background: red;
  color: white;
  text-align: center;
  height: 20px;
  font-size: 14px;
  line-height: 23px;
}
.file-item .btn-img-cancel {
  position: absolute;
  top: -16px;
  right: -16px;
  padding: 5px 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
.uploader-list {
  width: 100%;
  overflow: hidden;
}
.wu-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 15px 0;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
.dropdown-menu {
  min-width: 80px;
  right: 0;
  left: auto;
}